:root {
  --blue-color: #001e57;
  --white-color: #ffffff;
}
body {
  background-color: var(--blue-color);
  color: var(--white-color);
}
main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* position: relative; */
}

/* .cic {
  height: 2em;
  width: 2em;
  background-color: red;
  border-radius: 2em;
} */

.task {
  display: flex;
  flex-direction: column;
}
.task_input {
  border-style: none;
  border-radius: 1em;
  padding: 1em;
  background-color: var(--white-color);
}
.send {
  border-style: none;
  border-radius: 1em;
  padding: 1em;
  background-color: var(--white-color);
}
.cat_btn {
  display: flex;
}
.cat_btn button {
  margin: 1em 0.5em 1em 0.5em;
}
.work {
  cursor: pointer;
  border-style: none;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  padding: 1em;
  background-color: #cca91d;
  color: #cca91d;
}
.work:hover,
[data-cat="work"],
.work_active {
  background-color: #ffd324;
  background-image: url("icons/check-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.study {
  cursor: pointer;
  border-style: none;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  padding: 1em;
  background-color: #cc8f33;
  color: #cc8f33;
}
.study:hover,
[data-cat="study"],
.study_active {
  background-color: #ffb340;
  background-image: url("icons/check-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.home {
  cursor: pointer;
  border-style: none;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  padding: 1em;
  background-color: #cc5f00;
  color: #cc5f00;
}
.home:hover,
[data-cat="home"],
.home_active {
  background-color: #ff7700;
  background-image: url("icons/check-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.task_container {
  background-color: var(--blue-color);
}
.checkbox {
  appearance: none;
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
  margin-top: 0.7em;
  border-radius: 1em;
  display: inline-block;
  height: 2em;
  width: 2em;
  cursor: pointer;
}
.checkbox:hover {
  background-image: url("icons/check-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

table {
  border-spacing: 1em;
}
/* td {
  vertical-align: center;
} */
[data-check="checked"] {
  background-image: url("icons/check-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
}
[data-check="checked"]:hover {
  background-image: url("icons/x-solid.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
[data-field="desc"] {
  color: var(--blue-color);
  width: 20em;
  height: 3em;
  background-color: var(--white-color);
  border-radius: 1em;
  padding-left: 1em;
}
.trashicon {
  background-image: url("icons/trash-solid.svg");
  width: 1.8em;
  height: 2em;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.trashicon:hover {
  scale: 1.1;
}
[data-field="trash"] {
  background-color: var(--blue-color);
  width: 1em;
}

[data-field="cat"] {
  display: flex;
  flex-direction: row;
  width: max-content;
  height: 3em;
  /* justify-content: space-between; */
}
.work_cat {
  margin: 0.5em;
  border-style: none;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  /* padding: 1em; */
  background-color: #ffd324;
  color: #ffd324;
  align-self: center;
}
.study_cat {
  margin: 0.5em;
  border-style: none;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  /* padding: 1em; */
  background-color: #ffb340;
  color: #ffb340;
  align-self: center;
}
.home_cat {
  margin: 0.5em;
  border-style: none;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  /* padding: 1em; */
  background-color: #ff7700;
  color: #ff7700;
  align-self: center;
}
.hide {
  display: none;
}

.filter {
  position: fixed;
  right: 2em;
  top: 2em;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  color: var(--blue-color);
  width: 5em;
  padding: 2em;
  border-radius: 1em;
}
.filter_cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
